/*Formatação index 08/09/2023*/
body{
    height: 50vh;
}
header{
    background-image: url('../img/back-bg.png');
    background-size: cover;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

header::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    background-image: url('../img/wave-bottom.svg');
    height: 205px;
}

.header-content h1{
    font-size: 35px;
    color: wheat;
    text-transform: capitalize;
}

.header-content p{
    font-size: 15px;
    margin: 20px 0 25px;
    color: wheat;
    letter-spacing: 1px;
    font-weight: 300;
    text-transform: capitalize;
}

.links{
    border-radius: 50px;
    background: white;
    padding: 15px 30px;
    min-width: 170px;
    border: 2px solid white;
    color: black;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    margin-right: 12px;
    transition: all 0.5s ease-in;
}
/*Fim 08/09/2023*/
